@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body {
    font-family: 'Questrial', sans-serif;
    color: #2a2c39!important;
    background-color: rgba(205, 92, 92, 0.1);
}

.navbar {
    background-color: #2a2c39;
}

.flashes {
    line-height: 2;
    margin: 1rem;
}

.navbar-brand {
    color: #0dcaf0!important;
    font-size: 40px;
    font-weight: 600;
    transition: all ease-in-out 0.2s;
}

.navbar-brand:hover {
    color: #009cbb!important;
}

.nav-item {
    font-size: 16px;
    margin-left: 1rem;
    margin-right: 1rem;
    transition: all ease-in-out 0.2s;
    text-transform: uppercase;
}

.nav-item a:hover {
    font-weight: 600;
    color: #0dcaf0!important;
}

/* --- Transforming profile text to capitalize in stead of default lowercase --- */
.profile-text {
    text-transform: capitalize;
}


/* --- CARDS RESULTS STYLING */
.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 768px) {
    .card-img-top {
    height: 50vw;
}
}

/* --- SHADOW TO THE CARDS --- */
.results-card {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}



/* --- FOOTER --- */
#footer {
  background: #2a2c39;
  padding: 0 0 0 0;
  color: #fff;
  font-size: 14px;
  left: 0;
  bottom: -180px;
  width: 100%;
  position: relative;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  color: #0dcaf0!important;
}


#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #E7625F;
  color: #fff;
  line-height: 1;
  padding: 10px 0;
  margin-right: 3px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: all 0.4s ease-in-out;
}

#footer .footer-top .social-links a:hover {
  background: #fff;
  color: #E7625F;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
  font-size: 16px;
}

#footer .footer-top .footer-links ul a:hover {
  color: #0dcaf0;
}

#footer-brand a{
    color: #0dcaf0;
    font-size: 36px;
    text-decoration: none;
}

/* --- END OF FOOTER --- */